$("<%= escape_javascript(render partial: 'message', object: message) %>").prependTo(".messages tbody");
$("textarea#body").val("");
$('<p class="notice alert-info">Message sent.</p>').prependTo('.actions-wrapper');
