$("<%= escape_javascript(render partial: 'activities/activity', locals: { activity: message }) %>").prependTo("section.list-view-wrapper");
$("textarea#body").val("");
$('<p class="notice alert-info">Message sent.</p>').prependTo('.actions-wrapper');
