= title "Notes · ChirpyHire"
= content_for :container_class, 'container-fluid'
= content_for :body_class, 'chat flex_pane_showing'

= render partial: "messages/header"
= render partial: "messages/client_body"
