---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?countrycode=us&key=e314288a9a878aa078550bce7e4a1309&language=en&min_confidence=8&no_annotations=1&q=3379%20Flat%20Shoals%20Road%20Decatur%20Ga%2030033
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2498'
      X-Ratelimit-Reset:
      - '1487462400'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://geocoder.opencagedata.com/api","licenses":[{"name":"CC-BY-SA","url":"http://creativecommons.org/licenses/by-sa/3.0/"},{"name":"ODbL","url":"http://opendatacommons.org/licenses/odbl/summary/"}],"rate":{"limit":2500,"remaining":2498,"reset":1487462400},"results":[{"components":{"_type":"building","country":"United
        States of America","country_code":"us","house_number":"3379","road":"Flat
        Shoals Rd","state":"GA","town":"Decatur"},"confidence":10,"formatted":"3379
        Flat Shoals Rd, Decatur, GA, United States of America","geometry":{"lat":33.704541,"lng":-84.277004}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"http://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Sat, 18 Feb 2017
        18:36:04 GMT","created_unix":1487442964},"total_results":1}'
  recorded_at: Sat, 18 Feb 2017 18:36:05 GMT
recorded_with: VCR 3.0.3
