---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?countrycode=us&key=e314288a9a878aa078550bce7e4a1309&language=en&min_confidence=8&no_annotations=1&q=4059%20Mt%20Lee%20Dr%2090068
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2499'
      X-Ratelimit-Reset:
      - '1487462400'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://geocoder.opencagedata.com/api","licenses":[{"name":"CC-BY-SA","url":"http://creativecommons.org/licenses/by-sa/3.0/"},{"name":"ODbL","url":"http://opendatacommons.org/licenses/odbl/summary/"}],"rate":{"limit":2500,"remaining":2499,"reset":1487462400},"results":[{"bounds":{"northeast":{"lat":34.1357299,"lng":-118.314783},"southwest":{"lat":34.1332066,"lng":-118.3225169}},"components":{"_type":"road","city":"Los
        Angeles","country":"United States of America","country_code":"us","county":"Los
        Angeles County","postcode":"90068","road":"Mount Lee Drive","state":"California","suburb":"Hollywood
        Hills"},"confidence":9,"formatted":"Mount Lee Drive, Los Angeles, CA 90068,
        United States of America","geometry":{"lat":34.1355329,"lng":-118.317814}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"http://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Sat, 18 Feb 2017
        18:36:03 GMT","created_unix":1487442963},"total_results":1}'
  recorded_at: Sat, 18 Feb 2017 18:36:03 GMT
recorded_with: VCR 3.0.3
