---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?countrycode=us&key=OPENCAGE_KEY&language=en&min_confidence=8&no_annotations=1&q=1000%20E.%20Market%20St.%2022902
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2497'
      X-Ratelimit-Reset:
      - '1469923200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://geocoder.opencagedata.com/api","licenses":[{"name":"CC-BY-SA","url":"http://creativecommons.org/licenses/by-sa/3.0/"},{"name":"ODbL","url":"http://opendatacommons.org/licenses/odbl/summary/"}],"rate":{"limit":2500,"remaining":2497,"reset":1469923200},"results":[{"bounds":{"northeast":{"lat":38.032225,"lng":-78.4811563},"southwest":{"lat":38.0315186,"lng":-78.4830319}},"components":{"_type":"road","city":"Charlottesville","country":"United
        States of America","country_code":"us","hamlet":"Vinegar Hill","postcode":"22902","road":"Market
        Street","state":"Virginia"},"confidence":10,"formatted":"Market Street, Charlottesville,
        VA 22902, United States of America","geometry":{"lat":38.0317403,"lng":-78.4819013}},{"bounds":{"northeast":{"lat":38.0213214,"lng":-78.4545319},"southwest":{"lat":38.019501,"lng":-78.4561474}},"components":{"_type":"road","country":"United
        States of America","country_code":"us","county":"Albemarle County","hamlet":"Woolen
        Mills","postcode":"22902","road":"East Market Street","state":"Virginia"},"confidence":10,"formatted":"East
        Market Street, Woolen Mills, VA 22902, United States of America","geometry":{"lat":38.020415,"lng":-78.4552199}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"http://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Sat, 30 Jul 2016
        17:50:13 GMT","created_unix":1469901013},"total_results":2}'
  recorded_at: Sat, 30 Jul 2016 18:00:19 GMT
recorded_with: VCR 3.0.3
