---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?countrycode=us&key=e314288a9a878aa078550bce7e4a1309&language=en&min_confidence=8&no_annotations=1&q=2207%20Broadway,%20New%20York,%20NY%2010024
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2499'
      X-Ratelimit-Reset:
      - '1489276800'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://geocoder.opencagedata.com/api","licenses":[{"name":"CC-BY-SA","url":"http://creativecommons.org/licenses/by-sa/3.0/"},{"name":"ODbL","url":"http://opendatacommons.org/licenses/odbl/summary/"}],"rate":{"limit":2500,"remaining":2499,"reset":1489276800},"results":[{"bounds":{"northeast":{"lat":40.7833973,"lng":-73.9806247},"southwest":{"lat":40.7832973,"lng":-73.9807247}},"components":{"_type":"building","city":"New
        York City","country":"United States of America","country_code":"us","county":"New
        York County","house_number":"2207","neighbourhood":"Upper West Side","postcode":"10024","road":"Broadway","state":"New
        York","suburb":"Manhattan"},"confidence":10,"formatted":"2207 Broadway, New
        York City, NY 10024, United States of America","geometry":{"lat":40.7833473,"lng":-73.9806747}},{"components":{"_type":"building","country":"United
        States of America","country_code":"us","house_number":"2207","road":"Broadway","state":"NY","town":"New
        York"},"confidence":10,"formatted":"2207 Broadway, New York, NY, United States
        of America","geometry":{"lat":40.783424,"lng":-73.980416}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"http://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Sat, 11 Mar 2017
        00:25:16 GMT","created_unix":1489191916},"total_results":2}'
  recorded_at: Sat, 11 Mar 2017 00:25:17 GMT
recorded_with: VCR 3.0.3
