---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: amount=5000&currency=usd&id=test&interval=month&name=test
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test",
          "object": "plan",
          "amount": 5000,
          "created": 1471293680,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "test",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Mon, 15 Aug 2016 20:41:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_90thOby5V5zPmF",
          "object": "customer",
          "account_balance": 0,
          "created": 1471293680,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_90thOby5V5zPmF/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_90thOby5V5zPmF/subscriptions"
          }
        }
  recorded_at: Mon, 15 Aug 2016 20:41:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=8&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18irtdDaNBFYES5g1S0MtcQV",
          "object": "token",
          "card": {
            "id": "card_18irtdDaNBFYES5gvrAalPSs",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 8,
            "exp_year": 2017,
            "fingerprint": "dR5rTaSXwtNnih4r",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "73.251.167.70",
          "created": 1471293681,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 15 Aug 2016 20:41:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_90thOby5V5zPmF/sources
    body:
      encoding: UTF-8
      string: source=tok_18irtdDaNBFYES5g1S0MtcQV
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_18irtdDaNBFYES5gvrAalPSs",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_90thOby5V5zPmF",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 8,
          "exp_year": 2017,
          "fingerprint": "dR5rTaSXwtNnih4r",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Mon, 15 Aug 2016 20:41:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_90thOby5V5zPmF/subscriptions
    body:
      encoding: UTF-8
      string: plan=test
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_90thdatJAdgXtc",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1471293682,
          "current_period_end": 1473972082,
          "current_period_start": 1471293682,
          "customer": "cus_90thOby5V5zPmF",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "test",
            "object": "plan",
            "amount": 5000,
            "created": 1471293680,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "test",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1471293682,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 15 Aug 2016 20:41:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_90thdatJAdgXtc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
       [...]
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_90thOby5V5zPmF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_90thOby5V5zPmF"
        }
  recorded_at: Mon, 15 Aug 2016 20:41:26 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "test"
        }
  recorded_at: Mon, 15 Aug 2016 20:41:27 GMT
recorded_with: VCR 3.0.3
