---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?countrycode=us&key=OPENCAGE_KEY&language=en&min_confidence=8&no_annotations=1&q=2%20Civic%20Center%20Drive%2094903
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2493'
      X-Ratelimit-Reset:
      - '1473379200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://geocoder.opencagedata.com/api","licenses":[{"name":"CC-BY-SA","url":"http://creativecommons.org/licenses/by-sa/3.0/"},{"name":"ODbL","url":"http://opendatacommons.org/licenses/odbl/summary/"}],"rate":{"limit":2500,"remaining":2493,"reset":1473379200},"results":[{"bounds":{"northeast":{"lat":38.000995,"lng":-122.535492},"southwest":{"lat":38.000895,"lng":-122.535592}},"components":{"_type":"building","city":"San
        Rafael","country":"United States of America","country_code":"us","county":"Marin
        County","house_number":"2","neighbourhood":"Terra Linda","postcode":"94903","road":"Civic
        Center Drive","state":"California"},"confidence":10,"formatted":"2 Civic Center
        Drive, San Rafael, CA 94903, United States of America","geometry":{"lat":38.000945,"lng":-122.535542}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"http://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Thu, 08 Sep 2016
        18:53:32 GMT","created_unix":1473360812},"total_results":1}'
  recorded_at: Thu, 08 Sep 2016 18:53:32 GMT
recorded_with: VCR 3.0.3
