---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?countrycode=us&key=OPENCAGE_KEY&language=en&min_confidence=8&no_annotations=1&q=1805%20Severus%20dr%20,%2094589
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2492'
      X-Ratelimit-Reset:
      - '1473379200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://geocoder.opencagedata.com/api","licenses":[{"name":"CC-BY-SA","url":"http://creativecommons.org/licenses/by-sa/3.0/"},{"name":"ODbL","url":"http://opendatacommons.org/licenses/odbl/summary/"}],"rate":{"limit":2500,"remaining":2492,"reset":1473379200},"results":[{"bounds":{"northeast":{"lat":38.1549558,"lng":-122.2608481},"southwest":{"lat":38.1548558,"lng":-122.2609481}},"components":{"_type":"building","city":"Vallejo","country":"United
        States of America","country_code":"us","county":"Solano County","house_number":"1805","postcode":"94589","road":"Severus
        Drive","state":"California"},"confidence":10,"formatted":"1805 Severus Drive,
        Vallejo, CA 94589, United States of America","geometry":{"lat":38.1549058,"lng":-122.2608981}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"http://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Thu, 08 Sep 2016
        19:24:46 GMT","created_unix":1473362686},"total_results":1}'
  recorded_at: Thu, 08 Sep 2016 19:24:46 GMT
recorded_with: VCR 3.0.3
