---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts.json
    body:
      encoding: US-ASCII
      string: FriendlyName=Wuckert+Inc
    headers:
      Authorization:
      - Basic QUMzMjQyNDcwNGEyNGYxZDFkMzdmYWY4ZTE5NWU2YzM1ZTo5NjU4NDcwNzgxOGZkNTVlZGVkZDQ5MWJhYjJiZTZjZQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: FORBIDDEN
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.042'
      Twilio-Request-Id:
      - RQd6b503d203834197b6499903a2ac351b
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20008, "message": "Resource not accessible with Test Account
        Credentials", "more_info": "https://www.twilio.com/docs/errors/20008", "status":
        403}'
  recorded_at: Wed, 08 Feb 2017 00:35:08 GMT
recorded_with: VCR 3.0.3
