---
http_interactions:
- request:
    method: post
    uri: https://us-zipcode.api.smartystreets.com/lookup?auth-id=SMARTY_AUTH_ID&auth-token=SMARTY_AUTH_TOKEN
    body:
      encoding: UTF-8
      string: '[{"city":null,"state":null,"zipcode":"02162"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_index":0,"status":"invalid_zipcode","reason":"Invalid ZIP
        Code."}]'
  recorded_at: Tue, 27 Jun 2017 02:36:09 GMT
recorded_with: VCR 3.0.3
