---
http_interactions:
- request:
    method: post
    uri: https://us-zipcode.api.smartystreets.com/lookup?auth-id=SMARTY_AUTH_ID&auth-token=SMARTY_AUTH_TOKEN
    body:
      encoding: UTF-8
      string: '[{"city":null,"state":null,"zipcode":"30342"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_index":0,"city_states":[{"city":"Atlanta","state_abbreviation":"GA","state":"Georgia","mailable_city":true},{"city":"Atl","state_abbreviation":"GA","state":"Georgia","mailable_city":false},{"city":"Sandy
        Spgs","state_abbreviation":"GA","state":"Georgia","mailable_city":true},{"city":"Sandy
        Springs","state_abbreviation":"GA","state":"Georgia","mailable_city":true},{"city":"Tuxedo","state_abbreviation":"GA","state":"Georgia","mailable_city":false}],"zipcodes":[{"zipcode":"30342","zipcode_type":"S","default_city":"Atlanta","county_fips":"13121","county_name":"Fulton","state_abbreviation":"GA","state":"Georgia","latitude":33.89025,"longitude":-84.37299,"precision":"Zip5"}]}]'
  recorded_at: Tue, 11 Apr 2017 01:15:43 GMT
recorded_with: VCR 3.0.3
