.messages {
  .client_body {
    overflow: hidden;
    display: flex;
    flex: 1;

    &:before {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      right: 0;
      height: 8px;
      border-bottom: 1px solid #E1F4E6;
      background: #fff;
      content: '';
      z-index: 200;
    }

    .client_messages {
      margin-left: 0;
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      min-width: 1px;
    }
  }
}
