.messages {

  .chat-header {
    color: #717274;
    background: 0 0;
    flex-basis: 53px;
    z-index: 201;

    .channel-header {
      display: flex;
      background: $white;
      padding: .7rem 0 0;
      height: 100%;

      .channel-header-icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 1;
        margin-left: 1px;
        color: #717274;
        border-radius: .25rem;
      }

      .star {
        margin-left: 4px;
        padding-top: 4px;
        padding-left: 6px;
        padding-right: 6px;

        &:hover {
          .fa-star {
            color: darken($yellow, 5%);
          }

          .fa-star-o {
            color: darken(#717274, 30%);
          }
        }

        i {
          font-size: 1.5rem;
          transition: all .2s ease-in-out;
        }
      }

      #notes-toggle {
        padding-top: 4px;
        padding-left: 6px;
        margin-right: 8px;

        &.active {
          background: #E8E8E8;
        }

        &:not(.active):hover {
          color: $green;
        }

        &:hover {
          color: darken(#717274, 30%);
        }

        i.fa {
          transition: all .2s ease-in-out;
          font-size: 24px;

          &:hover {
            color: darken(#717274, 30%);
          }
        }
      }

      .messages-header {
        display: flex;
        flex: 1;
        min-width: 1px;
        color: #717274;
        padding-bottom: 6px;

        .channel-title {
          flex: 1;
          min-width: 1px;
        }

        .channel-title-info {
          display: flex;
          color: #9e9ea6;
          margin: 6px 8px 0 0;
        }
      }

      .presence {
        width: 11px;
        height: auto;
        position: static;
        margin: auto;
      }
    }

    .channel-header-item {
      display: flex;
      white-space: nowrap;
      margin-right: .4rem;
    }

    .channel-name-container {
      display: flex;
      transition: .15s;
      user-select: none;
    }

    .channel-header-info {
      display: flex;
      align-items: center;
      margin-top: 5px;
      padding-left: 1.3rem;
      font-size: .8125rem;
      font-weight: 400;
      line-height: 1.16;
    }

    .channel-header-info-item:not(:empty) ~ .channel-header-info-item:not(:first-child):before {
      padding-right: .4rem;
      color: rgba(113,114,116,.5);
      content: '|';
    }

    .channel-header-info-item {
      display: flex;
      white-space: nowrap;
      margin-right: .4rem;

      a {
        color: inherit;
      }
    }

    .channel-name {
      display: flex;
      min-width: 1px;
      user-select: text;
      margin: 0 0 -2px;
      line-height: 1.3;
      font-size: 1.125rem;
      font-weight: 900;
      padding: 0 .1rem 0 1.3rem;
      color: #2C2D30;
      cursor: pointer;
      align-items: baseline;

      .away {
        color: #717274;
        font-style: italic;
      }
    }

    .channel-status {
      &:before {
        padding-right: .4rem;
        color: rgba(113,114,116,.5);
        content: '|';
      }

      .channel-status-message {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 4px;
        line-height: 12px;
      }
    }

    .channel-header-details {
      display: flex;
      align-items: center;
      margin-top: 5px;
      padding-left: 1.3rem;
      font-size: .8125rem;
      font-weight: 400;
      line-height: 1.16;
    }
  }
}
