.messages {
  .message {
    display: block;
    width: 100%;
    margin: 0 auto -.0625rem;
    position: relative;
    border-left: none;
    border-right: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: #2C2D30;
    font-size: 15px;
    line-height: 22px;
    user-select: text;
    word-wrap: break-word;
    padding: 1px 40px 2px 0;

    .message-sender {
      display: none;
      word-break: break-word;
      font-weight: 900;
    }

    .para_break {
      display: block;
      height: .5rem;
    }

    .message-body {
      white-space: pre-line;
      display: block;
      cursor: text;
    }

    &.first:hover {
      .message_gutter .timestamp {
        display: none;
      }
    }

    &:hover {
      background-color: #F9F9F9;
      .message_gutter .timestamp {
        display: inline;
        opacity: 1;
      }
    }

    .message_icon {
      display: none;
    }

    .timestamp {
      line-height: 18px;
      opacity: 0;
      color: #9e9ea6;
      font-size: 12px;
      white-space: nowrap;
      position: relative;
      z-index: 1;
      display: inline-block;
    }

    .message_content .timestamp {
      display: none;
    }

    &.first {
      background-color: $white;

      .message-body {
        margin-top: -2px;
      }

      .message-sender {
        display: inline;
      }

      .message_content .timestamp {
        margin-right: .25rem;
        opacity: 1;
        display: inline;
      }

      .message_icon {
        margin-top: 4px;
        display: block;
      }
    }

    .message_content {
      margin-left: 72px;
      margin-top: 1px;

      .message_content_header {
        display: flex;
        align-items: baseline;

        .message_content_header_left {
          flex: 1 1 auto;
        }
      }
    }

    .message_gutter {
      width: 72px;
      padding-right: 10px;
      text-align: right;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
