$green: #37AA7C;
$white: #fff;
$gray-base: #232225;
$gray-darker:   lighten($gray-base, 13.5%) !default;
$gray-dark:     lighten($gray-base, 20%) !default;
$gray:          lighten($gray-base, 33.5%) !default;
$gray-light:    lighten($gray-base, 46.7%) !default;
$gray-lighter:  lighten($gray-base, 93.5%) !default;
$table-border-color: #dddddd;
$body-color: $gray-dark;
$brand-primary: $green;
$brand-success: darken(#428bca, 6.5%);
$bg-body: $white;
$modal-header-border-color: $table-border-color;

a {
  &:focus {
    outline: none;
  }
}

textarea:focus {
  outline-style: solid;
  outline-width: 2px;
}
