.ch--SecondaryHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 45px;
  background-color: #2B8360;
  padding-left: 1rem;

  a {
    color: $white;

    &:hover {
      color: $white;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
