#{$all-buttons}, .button {
	&.simple-button {
		background: none;
		border: none; 
		padding: 0;
		cursor: pointer;
		color: $action-color;
		transition: none;
		&:focus, &:hover {
			background: none;
			color: $action-color;
		}
	}

	&:not(.simple-button) {	
		&:disabled, &.disabled {
			&:focus {
				outline: none;
			}
			cursor: default;
			opacity: 0.5;

			&:hover {
				background-color: $action-color;
			}
		}
	}
}

a, button {
	// Cocoon class conventions use underscore
	&.remove_fields, &.remove-field, &.add-field {
		float: right;
		padding: 0 0.25em;
		color: $medium-gray;

		position: relative;
		bottom: 3px;
		font-size: 2em;
		
		&:disabled, &.disabled {
			&:focus {
				outline: none;
			}
			cursor: default;

			color: $light-gray;
		}
	}
}
