= nav_link_to 'General settings', organization_settings_general_path(organization), class: 'ch--vertical-navigation-link'
= nav_link_to 'Team members', organization_settings_team_members_path(organization), class: 'ch--vertical-navigation-link'
= nav_link_to 'Teams', organization_settings_teams_path(organization), class: 'ch--vertical-navigation-link'
= nav_link_to 'Phone numbers', organization_settings_phone_numbers_path(organization), class: 'ch--vertical-navigation-link'
= nav_link_to 'Candidate stages', organization_settings_candidate_stages_path(organization), class: 'ch--vertical-navigation-link'
