.wizard {
  .custom-file-control {  
    &::before {
      background-color: #eceeef;
    }
  }

  .custom-file-input {
    cursor: pointer;
  }

  .wizard__header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darken(theme-color('primary'), 25%);
    padding: 0 3rem;

    .wizard__label {
      font-size: 1rem;
      font-weight: 600;
      color: $white;
    }

    .wizard__steps {
      display: flex;

      .wizard__step {
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
          .wizard__step__number {          
            background-color: theme-color('primary');
            color: $white;
          }

          .wizard__step__label {
            color: $white;
          }
        }

        &:not(:last-child) {
          margin-right: 1.25rem;
        }

        .wizard__step__number {
          margin-right: .5rem;
          color: rgb(151, 153, 156);
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 50%;
          font-size: 1rem;
          font-weight: 600;
          width: 25px;
          height: 25px;
          background-color: $white;
        }

        .wizard__step__label {
          color: rgb(151, 153, 156);
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }

  .wizard__main {
    .column-card {
      max-width: 255px;
      .card-body {
        max-height: 114px;
      }

      .column-header {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .value {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 180px;
      }
      
      .card-footer {
        height: 49px;
      }
    }
    .wizard__main__mapping {
      .wizard__main__mapping__label, .wizard__main__mapping__link, .wizard__main__mapping__notice {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .wizard__main__import__target {
      border: 1px dashed rgb(151, 153, 156);

      .wizard__main__import__target__label, .wizard__main__import__target__link, .wizard__main__import__target__notice {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .wizard__main__import__target__link {
        flex-direction: column;
      }
    }
  }
}
