.settings {
  .nav-link {
    position: relative;
    &.active {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: $brand-primary;
        width: 3px;
      }
    }
  }
}
