.settings {
  .nav-link {
    border-top: 3px solid transparent;
    &.active {
      border-top: 3px solid $brand-primary;
    }

    &:hover:not(.active) {
      border-color: transparent transparent transparent;
    }
  }
}
