.settings {
  .HeaderLink {
    font-size: 15px;
    padding: 4px 6px 4px 6px;
  }

  .ch--main-menu {
    flex: 0 0 60px;
    background-color: #eef6f2;
  }

  .invite-team-member {
    #account_email {
      width: 41%;
    }
  }
}
