.teams {

  .team {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
  }

  .team-phone-number {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .team-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .team-subdetails {
    display: flex;
  }

  .account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    .account-details {
      display: flex;
      align-items: center;
    }
  }
}
