.teams {
  .team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .members {
    display: flex;
    align-items: center;
  }

  .card-header {
    min-height: 50px;
  }

  .team-details {
    display: flex;
    flex-direction: column;
  }
}
