.pac-container {
  z-index: 1030;

  &.zipcode-search {
    left: 222px !important;
    width: 323px !important;
  }

  .pac-item {
    &:hover {
      cursor: pointer;
    }
  }
}

#zipcode-search {
  transition: all .5s ease;

  .scrollable-dropdown {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
  }

  .dropdown-divider {
    background-color: #eceeef;
  }

  form {
    display: flex;
  }

  .input-group-addon {
    background-color: $white;
    transition: all .5s ease;
  }

  button#filters {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .input-group-btn {
    &.show {
      width: 230px;
    }
  }

  .search-field {
    border-right: 0;
    border-radius: 0;
    transition: all .5s ease;
    border-left: 0;
    width: 180px;

    &.expanded {
      width: 285px;
    }
  }

  &.focused {
    .input-group-addon {
      border-color: lighten($brand-primary, 25%);
    }
  }
}
