.pac-container {
  z-index: 1030;
  left: 222px !important;
  width: 340px !important;

  .pac-item {
    &:hover {
      cursor: pointer;
    }
  }
}

#location-autocomplete {
  width: 150px;
  transition: all .5s ease;

  .input-group-addon {
    background-color: $white;
    transition: all .5s ease;
  }

  input {
    transition: all .5s ease;
    border-left: 0;
    min-width: 125px;
  }

  &.expanded {
    .input-group-addon {
      border-color: lighten($brand-primary, 25%);
    }

    width: 450px;
  }
}
