a, button {
  // Cocoon class conventions use underscore
  &.remove_fields, &.remove-field, &.add-field {
    float: right;
    padding: 0 0.75em;
    color: $gray-light;

    position: relative;
    bottom: 3px;
    font-size: 2em;

    &:focus, &:hover {
      background: none;
      color: $brand-primary;
      outline: 0;
      text-decoration: none;
    }

    &:disabled, &.disabled {
      &:focus {
        outline: 0;
      }
      cursor: default;

      color: $gray-light;
    }
  }
}
