header.navigation {
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $large-screen: 53.75em !default;
  $horizontal-bar-mode: $large-screen;

  nav.left {
    display: flex;

    @include media ($horizontal-bar-mode) {
      ul.navigation-menu.left {
        padding: 0 2em;
      }
    }
  }

  .app-title {
    padding: 1.05em 0 0 1.5em;
    h1 {
      font-weight: normal;
    }

    @include media ($horizontal-bar-mode) {
      padding-left: 4em;
    }
    color: $navigation-color;

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }
}
