header.navigation {
  &.super-navigation {
    background-color: transparentize(red, 0.7);
  }
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $large-screen: 53.75em !default;
  $horizontal-bar-mode: $large-screen;

    @include media ($horizontal-bar-mode) {
      nav.left {
        display: flex;
        align-items: center;
        h1 {
          margin: 0;
        }
        ul.navigation-menu.left {
          padding: 0 2em;
        }
      }
      nav.right {
        display: flex;
        .safari-hack {
          visibility: hidden;
        }
        .navigation-menu-button{ 
          line-height: 75px;
        }
      }
    }

  .app-title {
    h1 {
      font-weight: normal;
    }

    @include media ($horizontal-bar-mode) {
      padding-left: 4em;
    }
    color: $navigation-color;

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }
}
