form {
  .remove_fields {
    float: right;
    padding: 0 0.5rem;
    color: $gray-light;

    position: relative;
    bottom: 3px;

    font-size: 1.25rem;
    transition: all .3s ease-in-out;

    &:focus, &:hover {
      background-color: #dddddd;
      outline: 0;
      color: darken($gray-light, 25%);
      text-decoration: none;
    }

    &:disabled, &.disabled {
      &:focus {
        outline: 0;
      }
      cursor: default;

      color: $gray-light;
    }
  }
}
