.HeaderLink {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px 4px 4px;
  border-radius: 3px;
  font-size: 14px;
  transition: all .3s ease;

  &:hover, &.active {
    text-decoration: none;
    color: $white;
  }

  &:hover {
    background-color: rgba(33, 102, 75, 0.5);
  }

  &.active {
    background-color: darken(theme-color('primary'), 15%);
  }

  .fa {
    color: $white;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
