.fa-user-circle-o, .fa-users, .fa-user, .fa-user-plus, .fa-credit-card, .fa-gear {
  color: $gray-light;
}

.fa-bus, .fa-trophy, .fa-star-half-o, .fa-key, .fa-sun-o {
  color: $yellow;
}

.fa-id-card, .fa-car, .fa-clock-o {
  color: $purple;
}

.fa-mobile, .fa-phone, .fa-home, .fa-comments, .fa-usd, .fa-battery-full, .fa-check-circle {
  color: $green;
}

.fa-sign-out, .fa-map-marker, .fa-globe, .fa-moon-o {
  color: $blue;
}

.fa-battery-half, .fa-battery-quarter {
  color: $orange;
}

.fa-heart-o, .fa-heart, .fa-heartbeat, .fa-medkit, .fa-battery-empty,
.fa-tachometer, .fa-magnet, .fa-dot-circle-o, .fa-bullseye {
  color: $red;
}

.fa {
  &.white {
    color: $white;
  }

  &.purple {
    color: $purple;
  }

  &.black {
    color: $black;
  }

  &.unknown {
    color: #717274 !important;
  }
}
