.fa-user-circle-o {
  color: $gray-light;
}

.fa-usd, .fa-battery-full {
  color: $green;
}

.fa-bus {
  color: $yellow;
}

.fa-id-card {
  color: $purple;
}

.fa-sign-out, .fa-users, .fa-map-marker {
  color: $blue;

  &.black {
    color: $black;
  }
}

.fa-battery-half, .fa-battery-quarter {
  color: $orange;
}

.fa-heart-o, .fa-heart, .fa-heartbeat, .fa-medkit, .fa-battery-empty,
.fa-tachometer, .fa-paper-plane {
  color: $red;

  &.white {
    color: $white;
  }
}
