.fa-user-circle-o {
  color: $gray-light;
}

.fa-usd, .fa-battery-full, .fa-check-circle {
  color: $green;
}

.fa-bus, .fa-trophy, .fa-star-half-o {
  color: $yellow;
}

.fa-id-card, .fa-car {
  color: $purple;
}

.fa-mobile {
  color: $green;
}

.fa-sign-out, .fa-users, .fa-map-marker {
  color: $blue;
}

.fa-battery-half, .fa-battery-quarter {
  color: $orange;
}

.fa-heart-o, .fa-heart, .fa-heartbeat, .fa-medkit, .fa-battery-empty,
.fa-tachometer {
  color: $red;
}

.fa {
  &.white {
    color: $white;
  }

  &.black {
    color: $black;
  }
}
