nav.navbar.top {
  padding: 0 1rem;

  &.top-secondary {
    &.fixed-top {
      z-index: 1029;
    }

    padding: 0 1rem;
    li {
      padding: 0;

      a {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &.active {
          color: $green;
          border-bottom: 3px solid $green;
        }
      }
    }
    margin-top: 4rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) !important;
  }

  .navbar-brand {
    margin-top: 0.75rem;
  }

  background-color: white;

  .organization-phone-number {
    font-size: 1.25em;
  }
}

  .nav-link {
    .fa-phone, .fa-comments {
      font-size: 21px;
    }

    .fa-comments {
      position: relative;
      top: -2px;
    }

    .fa-phone {
      position: relative;
      top: -1px;
    }
  }
}
