nav.navbar.top {
  border-bottom: 1px solid #c5d6de;
  background-color: white;

  .ch-logo {
    padding-bottom: 0;

    a {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .fa-user-circle-o {
    color: $gray-light;
  }

  .fa-usd {
    color: $green;
  }

  .fa-filter {
    color: $orange;
  }

  .fa-paper-plane {
    color: $red;
  }

  .fa-sign-out {
    color: $blue;
  }
}
