.sidebar {
  width: 53px;
  min-width: 53px;
  // ^^ on element
  
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: $green;
  padding: 1rem .5rem 0;
  transition: width .3s;
  overflow-y: auto;
  flex-shrink: 0;

  .sidebar--bottom {
    flex-shrink: 1;
    flex: 1;
  }

  .flex-start {
    min-height: 50px;
  }

  .agent-status-container {
    background: rgba(0,0,0,.2);
    border-radius: .3125rem;
    margin-bottom: .5rem;

    .agent-status-button {
      position: relative;

      .align-items-center {
        padding: 0.25rem 0px;
      }
    }
  }

  .section {
    display: flex;
    align-items: center;
    padding: 4px 11px;
    margin: 1.25rem 0;
    color: #b5d2e1;
    border-radius: .3125rem;
    transition: background-color .3s;
    transition: width .3s;
    transition-delay: .1s;
    height: 28px;
    min-height: 28px;
  }
}
