.pac-container {
  z-index: 1030;

  .pac-item {
    &:hover {
      cursor: pointer;
    }
  }
}

#zipcode-search {
  width: 150px;
  transition: all .5s ease;

  .input-group-addon {
    background-color: $white;
    transition: all .5s ease;
  }

  input {
    transition: all .5s ease;
    border-left: 0;
  }

  &.expanded {
    .input-group-addon {
      border-color: lighten($brand-primary, 25%);
    }

    width: 330px;
  }
}
