input class==(params[category] && params[category].include?(value) ? 'custom-control-input active' : 'custom-control-input') type="checkbox" name="#{category}[]" value="#{value}" checked==(params[category] && params[category].include?(value))
