button.btn.btn-secondary.dropdown-toggle id==category role="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button"
  i class=="fa #{icon} fa-fw mr-2"
  = category.to_s.titleize
