@import "base/custom";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-table";
@import "polyfill/bootstrap3";

body {
  background-color: $gray-lighter;

  &.white {
    background-color: $white;
  }
}

main.application {
  padding-top: 80px;
}

@import "components/navigation";
@import "components/form";
@import "components/icon";
@import "components/bootstrap_table";
@import "components/dropdown";
@import "components/svg-uri";
@import "components/hero-patterns";


@import "ideal_candidate";
@import "conversation";
@import "contacts";
@import "candidates";
@import "caregivers";

@import "settings/base";
@import "settings/profile";
@import "organizations/settings/people";

@import "registrations";
@import "recruiting_ad";

