.campaigns {
  .campaign {
    .campaign-left {
      width: 400px;
    }

    .campaign-middle {
      width: 125px;
    }
    margin-bottom: 1rem;
  }

  .status-icon {
    padding: .5rem .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $brand-primary;
    margin-left: .5rem;

    i {
      color: $white;
    }
  }
}

.Campaign {
  width: 80%;
  margin: auto;

  margin-top: 2.25rem;

  .CampaignHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;

    .CampaignName {
      border: none;
      background-color: #eef6f2;
      font-size: 1.5rem;

      &:hover, &:focus {
        height: 38px;
        border-bottom: 1px dashed $gray;
      }

      &:focus {
        outline: none
      }
    }
  }
}
