.Campaign {
  width: 80%;
  margin: auto;

  margin-top: 2.25rem;

  .CampaignHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;

    .CampaignName {
      border: none;
      background-color: #eef6f2;
      font-size: 1.5rem;

      &:hover, &:focus {
        height: 38px;
        border-bottom: 1px dashed $gray;
      }

      &:focus {
        outline: none
      }
    }
  }
}
