.candidates {
  $base-font-color: $dark-gray !default;
  $card-image-height: 300px;
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $dropdown-border: 1px solid silver;
  $dropdown-padding: 1em;

  @include outer-container;
  padding: 1em;

  .card {
    margin: 0 0 1.5em 0;
  }

  .card-image {
    #map {
      height: $card-image-height;
    }
  }

  .card-call-to-actions {
    form, button {
      flex-grow: 1;
    }

    form {
      display: flex;
      justify-content: center;
    }

    button {
      border-radius: 0;
      i {
        font-size: 1.5em;
      }
      a {
        color: $base-font-color;
      }
    }
  }
  .card-header {
    .created_at {
      display: inline;
      float: right;
    }
  }

  .dropdown {
    display: flex;

    .status {
      margin-right: 1em;
    }
  }
}
