.candidate-persona {
  @include outer-container;
  padding: 1em 0;

  .attribution {
    padding: 0 1em;
  }

  .persona-feature {
    .choice-template {
      white-space: pre-wrap;
    }
  }

  h1, h3 {
    margin: 0 1em 0.75em;
  }
}
