.candidates {
  $base-font-color: $dark-gray !default;
  $card-image-height: 263px;
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $dropdown-border: 1px solid silver;
  $dropdown-padding: 1em;
  $large-screen: 53.75em !default;
  $horizontal-bar-mode: $large-screen;

  @include outer-container;
  padding: 1em 0;

  .card {
    cursor: default;
    @include media ($horizontal-bar-mode) {
      max-width: 25%;
    }
  }

  .controls {
    margin: 0 1em;
    padding-bottom: 1em;
    justify-content: space-between;
    display: flex;

    .dropdown {
      display: flex;
      width: 70%;
    }
    .stage {
      margin-right: 0.5em;
      @include media ($horizontal-bar-mode) {
        margin-right: 1em;
      }
    }
  }

  .card-header {
    a {
      margin-right: 0.3em;
      color: inherit;
    }

    .card-header-right {
      display: inline;
      float: right;
    }
  }
  .stage-buttons {
    flex-direction: column;
    .stage-row {
      display: flex;
      justify-content: center;
      .stage-item {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        max-width: 50%;
        &.inactive, &.inactive button {
          background-color: $disabled-color;
          cursor: default;
        }
      }
    }    
  }

  .card-image {
    background-color: $medium-gray;
  }
}
