.candidates {
  table {
    .btn-outline-secondary, .btn-secondary:not(.pre-screened) {
      border: none;

      &:hover {
        border: none;
      }
    }

    .pre-screened {
      position: relative;

      &:hover {
        .fa-check-circle {
          color: darken($ch-table-gray, 10%);
        }
      }

      &.marked-pre-screened, &.marking-pre-screened {
        @extend .btn-outline-primary;
        animation: 1s marked-pre-screened;
        animation-timing-function: ease-in-out;

        &:hover {
          border-color: darken($green, 10%);
          background-color: $white;
        }

        .fa-check-circle {
          color: $green;
          animation: 1s marked-pre-screened;
          animation-timing-function: ease-in-out;
        }
      }

      .fa-check-circle {
        color: $ch-table-gray;
      }

      @keyframes marked-pre-screened {
        from {
            color: $green;
            border-color: $green;
        }
        50% {
            color: lighten($green, 25%);
            border-color: lighten($green, 25%);
        }
        to {
            color: $green;
            border-color: $green;
        }
      }

      .fa-certificate {
        position: relative;
        bottom: 2px;
        left: 4px;
        z-index: 5;
      }

      .fa-bookmark {
        position: relative;
        top: 5px;
        right: 6.5px;
        font-size: 10.5px;
      }
    }
  }
}

