.caregivers-nav {
  border-bottom: none !important;
  a.cancel {
    color: $gray;
  }

  @include media-breakpoint-down(sm) {
    .btn-group {
      display: flex;
      flex-direction: column;
    }
  }

  .dropdown {
    span.dropdown-label {
      margin-right: 5px;
      display: inline-block;
    }
    span.description-text {
      display: inline-block;
    }

    &.certification {
      span.description-text {
        width: 130px;
      }
    }

    &.transportation {
      span.description-text {
        width: 145px;
      }
    }

    &.availability {
      span.description-text {
        width: 115px;
      }
    }

    &.experience {
      span.description-text {
        width: 120px;
      }
    }

    &.show {
      .overlay {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 140px;
        left: 0;
        right: 0;
        z-index: 1;
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }

  box-shadow: none !important;
  &.fixed-top {
    z-index: 998;
  }

  margin-top: 80px;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .btn {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}
.caregivers {

  @include media-breakpoint-down(sm) {
    margin-top: 10rem !important;
  }

  .card-footer {
    background-color: $white;
  }

  .card-deck {
    @include media-breakpoint-down(sm) {
      .card:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  .card-img-top {
    position: relative;
    height: 50px;
  }
}
