.question {
  input[type="checkbox"] {

    &:checked {
      + .checkbox {
        background: #76af93;
      }
    }
  }

  .multi-option-question {
    .nested-fields {
      display: flex;
      align-items: center;
      margin-bottom: $small-spacing;

      .field {
        display: flex;
        align-items: center;
        
        input[type='text'] {
          margin: 0;
        }

        label {
          margin-bottom: 0.75em;
          padding-right: 1em;
        }
      }
    }
  }
}
