.dashboard {

  .coming-soon {
    font-size: 2.5rem;
  }

  .card-header {
    background-color: $white;
    border-bottom: 2px solid #e1eef4;
    padding: 1.5rem 2rem;
    height: 75px;
    width: 100%;

    h4 {
      margin-bottom: 0;
    }
  }

  .funnel-angle {
    width: 55px;
  }

  .metrics {
    flex-wrap: wrap;
  }

  .metric {
    padding: 2rem 1rem 2rem .85rem;
    width: 220px;
  }
}
