@import "base/custom";
@import "email/base";

.preview-text {
  display: none;
  font-size: 1px;
  color: #fff;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
}

.email {
  background-color: rgb(255,255,255);
  a {
    color: $brand-primary;
  }

  .btn {
    background-color: $brand-primary;
    color: #FFF !important;
  }

  .chirpyhire-logo {
    max-height: 90px;
    margin-right: 4px;
  }

  .main-wrapper {
    padding: 20px 0px;
    margin: 0px auto;
    max-width: 600px;
  }

  .header-wrap {
    width: 80%;
    margin: 0px auto;
    padding-bottom: 20px;
    border-bottom: 1px dashed rgb(218,218,218);
    
    td {
      text-align: center;
    }
  }

  .body-wrap {
    width: 80%;
    margin: 30px auto 0px;
    font-size: 16px;

    td {
      color: rgb(102,106,122);
      line-height: 22px;

      .ps {
        line-height: 2rem;
      }

      p {
        margin-bottom: 12px;

        strong {
          font-size: 14px;
        }
      }
    }
  }

  .footer-wrap {
    width: 80%;
    margin: 30px auto;
    border-top: 1px dashed rgb(218,218,218);

    td {
      color: rgb(168,168,168);
      padding-top: 15px;

      p {
        font-size: 12px;
        text-align: left;
      }
    }
  }
}
