.home {
  .nav-item a {
    font-weight: 900;
  }

  .callout {
    img {
      max-width: 520px;
      max-height: 520px;
    }
  }

  .jumbotron {
    padding-bottom: 5rem;
    padding-top: 5rem;

    &.cost {
      background-color: $gray-400;
    }

    &.use-cases {
      h2 {
        font-size: 3.25rem;
      }

      .lead {
        font-weight: 500;
        font-size: 2rem;
      }
    }

    &.pitch, &.cost {
      .lead {
        max-width: 760px;
        font-weight: 500;
      }
    }

    &.how-it-works, &.organization, &.chat {
      h2 {
        font-weight: 700;
      }
      h3 {
        font-weight: 600;
      }
      p, a {
        font-size: 1.25rem;
      }
    }


    h1 {
      font-size: 3.75rem;
      font-weight: 700;
    }
  }

  footer {
    background-color: rgba(249, 252, 250, 1);
    padding-top: 5rem;

    .main-links {
      li {
        margin-bottom: .5rem;
      }
    }
  }
}
