.invitations {
  @include outer-container;
  padding: 1.25em;

  .tos-links {
    font-size: 0.65em;

    a {
      color: $medium-gray;
      text-decoration: underline;

      &:hover, &:focus {
        color: $dark-gray;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .action {
      margin: 0.25em 0;
    }
  }
}
