.invitations {
  @include outer-container;
  padding: 1.25em;
  $large-screen: 53.75em !default;
  $horizontal-bar-mode: $large-screen;

  #new_account {
    @include media ($horizontal-bar-mode) {
      @include span-columns(6);
      @include shift(3);
    }
  }

  .tos-links {
    font-size: 0.65em;

    a {
      color: $medium-gray;
      text-decoration: underline;

      &:hover, &:focus {
        color: $dark-gray;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .action {
      margin: 0.25em 0;
    }
  }
}
