.messages {
  $blue-gray: #91A3B0;
  display: flex;
  overflow: hidden;
  margin-top: 82px;
  min-height: calc(100vh - 82px);

  .fa-circle {
    color: $brand-primary;
    font-size: 0.75rem;
    opacity: 0.98;
  }

  .channels_container {
    background-color: darken($brand-success, 8%);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 220px;
    flex-shrink: 0;
    min-width: 1px;
    max-width: 260px;
    z-index: 201;

    ul {
      list-style-type: none;
      text-align: left;
      color: $blue-gray;
      width: 204px;
      max-width: calc(260px - 16px);
      padding: 0;

      li {
        font-size: 0.875rem;
        line-height: 1.5rem;
        height: 1.5rem;
        margin-right: 1px;
        position: relative;
        clear: both;

        &.unread {
          a {
            font-weight: 900;
            color: $white;
          }
        }

        a {
          color: $blue-gray;
          display: block;
          height: 1.5rem;
          padding: 0 .25rem 0 1rem;
          border-top-right-radius: .25rem;
          border-bottom-right-radius: .25rem;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          background-clip: padding-box;
          text-decoration: none !important;
          width: 100%;
          text-align: left;

          &.active {
            background: #6698C8;
            opacity: 1;
            color: #FFFFFF !important;

            .fa-circle, .fa-circle-o, a {
              color: $white;
              opacity: 1;
            }
          }

          &:hover:not(.active) {
            background-color: darken($brand-success, 20%);
          }
        }
      }
    }

    h2 {
      text-align: left;
      font-size: .8rem;
      line-height: 1.25rem;
      margin: 0 1rem .1rem;
      text-transform: uppercase;
      font-weight: 700;
      color: $blue-gray;
      width: 165px;
      position: relative;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .team_menu {
      color: $white;
      font-size: 1rem;
      font-weight: 700;
      padding: 0 1rem;
      position: relative;
      z-index: 50;
      flex-basis: 61px;
      flex-shrink: 0;

      .team_menu_user  {
        position: relative;
        margin-top: 2px;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        z-index: 1;

        .presence_container {
          float: left;
          margin-left: -4px;
          width: 20px;
          height: 1.3125rem;
          text-align: center;
        }
      }

      .team_menu_user_name {
        color: $white;
        opacity: 0.6;
      }

      .team_name_container {
        margin-bottom: -2px;
        margin-top: .5625rem;
        line-height: 1.075rem;

        .team_name {
          font-size: 1.125rem;
          line-height: 1.375rem;
          max-width: 11.12rem;
        }
      }
    }

    .section_holder {
      margin: 1rem 0 2rem;
    }

    .channels {
      color: $blue-gray;
      width: 220px;
      float: left;
      position: relative;
      flex-grow: 1;
    }
  }
}
