.Platform {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .small-caps {
    font-size: 11px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .PlatformHeader {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $brand-primary;
    color: $white;

    h1 {
      margin-bottom: 0;
      margin-left: 1rem;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .CandidateSegments {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    background-color: darken($brand-primary, 12%);

    .CandidateSegment {
      color: $white;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .Candidates {
    display: flex;
    height: 100vh;

    .CandidateFilters {
      width: 271px;
      overflow-x: hidden;
      overflow-y: auto;
      border-right: 1px solid rgb(218,218,218);
      position: relative;
      display: flex;
      flex-direction: column;

      .CandidateFilters--inner {
        flex: 1;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 5px;
      }

      .CandidateFiltersActions {
        padding: 1rem;
        border-top: 1px solid rgb(218, 218, 218);
      }

      .CandidateFiltersHeader {
        padding: 8px 0 4px;
        h3 {
          margin-bottom: 0;
        }
      }

      .CandidateFilter {
        .predicate {
          display: flex;
          flex-direction: column;
          background-color: #ecfef3;
          padding-bottom: 2px;
          margin-bottom: 12px;
          margin-top: 2px;
          padding-left: 20px;

          .predicate-buttons {
            display: flex;
            justify-content: flex-end;

            .close-predicate {
              padding: 5px 8px;
              cursor: pointer;

              i {
                font-size: 1rem;
              }
            }
          }

          .predicate-inner {
            display: flex;
            flex-direction: column;
            padding-right: 22px;

            .spacer-10 {
              height: 10px;
            }
          }
        }
      }
    }
  }
}

