.question {
  $large-screen: 53.75em !default;
  $horizontal-bar-mode: $large-screen;
  @include outer-container;
  padding: 1em;

  .question-types {
    .card {
      margin: 0 0 1.5em 0;
      cursor: default;
    }

    .card-image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #ddd;
    }

    .card-copy {
      display: flex;
      flex-direction: column;

      a {
        text-align: center;
      }
    }

    i {
      font-size: 10em;
    }
    
    @include media ($horizontal-bar-mode) {
      flex-wrap: nowrap;
      align-items: space-around;
      .card {
        margin: 0 1em 1.5em 1em;
        flex-basis: 18em;
      }
    }
  }

  .question-status {
    float: right;
  }

  .links {
    padding: 1em 0;
  }

  .hidden-field {
    display: none;
  }
}
