.question {
  @include outer-container;
  padding: 1em;

  .question-status {
    float: right;
  }

  .remove_fields {
    margin-bottom: 0.55em;
    padding-left: 0.25em;
    font-size: 2em;
    color: darken(map-get($flashes, "error"), 30%);
  }
}
