.recruiting-ad {
  @media (max-width: 524px) {
    .clipboard {
      margin-top: 0.5rem;
    }
  }

  $craigslist: #551A8B;
  $facebook: #3B5998;
  $indeed: #2164F3;

  .craigslist {
    @include button-variant($white, $craigslist, darken($craigslist, 10%));
  }

  .facebook {
    @include button-variant($white, $facebook, darken($facebook, 10%));
  }

  .indeed {
    @include button-variant($white, $indeed, darken($indeed, 10%));
  }

  .channels {
    .card-text {
      min-height: 96px;

      &.taller {
        min-height: 120px;
      }
    }
  }
}
