.RecruitBot--wrapper {
  overflow-y: scroll;
  flex: 1
}

.RecruitBot {
  width: 80%;
  margin: auto;

  margin-top: 2.25rem;

  .card {
    margin-bottom: 2rem;

    .card-text {
      white-space: pre-wrap;
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        margin-bottom: 0;
      }
    }
  }
}
