@import "recruit/inbox";

.Recruit {
  .Inboxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 45px;
    background-color: darken(theme-color('primary'), 10%);

    @include media-breakpoint-down(md) {
      display: none;
    }

    .HeaderLink {
      .author_image {
        margin-right: 0.5rem;
      }
    }
  }
}
