.registrations {
  @include outer-container;
  padding: 1.25em;

  .tos-links {
    font-size: 0.65em;

    a {
      color: $medium-gray;
      text-decoration: underline;

      &:hover, &:focus {
        color: $dark-gray;
      }
    }
  }
}
