.rule {

  .fa-bolt {
    margin-left: 35%;
  }

  .observable, .action {
    margin-bottom: 7%;
  }
  .fa-info {
    margin-left: 42%;
  }

  .fa-question {
    margin-left: 30%;
  }

  .fa-hand-paper-o {
    margin-left: 16%;
  }

  .fa-gear {
    margin-left: 30%;
  }

  .fa-reply {
    margin-left: 15%;
  }

  .fa-arrow-right {
    padding-left: 36%;
  }

  .flex {
    display: flex;
  }

  .fa-filter {
    margin-left: 30%;
  }

  .flex-center {
    align-items: center;
  }
}
