.rules {
  .rule {
    cursor: pointer;

    span.fa-stack {
      margin: 0 10px 0 0;
      i.fa {
        margin: 0;
      }
    }
    .subtitle {
      margin-left: 25px;
    }

    i.fa {
      margin: 0 10px 0 0;
    }
    .enabled {
      color: $brand-success;
    }
    .disabled {
      color: $brand-danger;
    }
  }
}
