.static {
  .static-nav-spacer {
    margin-bottom: 9rem;
  }

  h1 {
    font-size: 3.75rem;
    font-weight: 700;
  }
  
  .nav-item a {
    font-weight: 700;
  }
  
  footer {
    background-color: rgba(249, 252, 250, 1);
    padding-top: 5rem;

    .main-links {
      li {
        margin-bottom: .5rem;
      }
    }
  }
}
