.subscription {
  $large-screen: 53.75em !default;
  $horizontal-bar-mode: $large-screen;
  @include outer-container;
  padding: 1.25em;

  .show_subscription, .edit_subscription {
    @include media ($horizontal-bar-mode) {
      @include span-columns(6);
      @include shift(3);
    }

    ul.leaders {
      padding: 0;
      overflow-x: hidden;
      list-style: none;

      li:before {
        float: left;
        width: 0;
        white-space: nowrap;
        color: $medium-gray;
        content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
      }

      span:first-child {
        letter-spacing: 2px;
        padding-right: 0.33em;
        background: $base-background-color;
      }

      span + span {
        float: right;
        padding-left: 0.33em;
        background: $base-background-color;
      }

      span + span:before {
        padding-right: 0.15em;
      }
    }

    .fancy-rule {
      border:none;
      overflow:hidden;
      height:20px;
      text-align: center;
      color: $dark-gray;
    }

    .rgba {
      color: rgba(0,0,0,0.15);
    }
    .fancy-rule.asterism:before {
      content:"o————|| ⧖ ||————o";
      letter-spacing:-1px;
    }
  }

  .edit_subscription {
    .quantity {
      padding: 1em;
      margin-top: 1em;
      background: #EEE;
      border: 1px solid $medium-gray;

      input[type="range"] {
        min-width: 100%;
        cursor: pointer;
      }
    }

    .credit-card-form {
      @include media ($horizontal-bar-mode) {
        padding: 2em;
        height: 27em;
      }
      border: 1px solid $medium-gray;
      margin: 0 auto;
      background: #EEE;

      .credit-card-wrapper {
        transform: scale(0.7);
        margin: 0;
        width: 100%;

        @include media ($horizontal-bar-mode) {
          transform: scale(1);
          margin: 0.2em auto;
        }
      }

      .credit-card-fields {
        padding: 1em;
        .submit {
          width: 100%;
        }

        @include media($horizontal-bar-mode) {
          padding: 1em 0;

          #name, #address_zip, .submit {
            @include span-columns(6);
          }

          #address_zip, .submit {
            @include omega();
          }

          #expiry, #cvc {
            @include span-columns(3);
          }
        }
      }
    }
  }

}
