.survey {
  @include outer-container;
  padding: 1em 0;

  .attribution {
    padding: 0 1em;
  }

  .survey-question {
    .card-header {
      display: flex;
      justify-content: space-between;

      comment {
        padding: 0 0.5em;
        color: $medium-gray;
      }
    }

    #map {
      width: 100%;
      height: 46vh;
    }

    .choice-template {
      white-space: pre-wrap;
    }
  }

  h1, h3 {
    margin: 0 1em 0.75em;
  }
}
