.survey, .survey-edit {
  @include outer-container;
  padding: 1em;
}

.survey.edit {
  @include media ($large-screen) {
    @include span-columns(6);
    @include shift(3);
  }
}

.survey {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.5em 0;

    @include media ($large-screen) {
      margin: 0 1em 1em 1em;
    }
  }

  .cards {
    justify-content: flex-start;
  }

  .card {
    .card-copy {
      white-space: pre-wrap;
    }

    margin: 0 0 1.5em 0;
    cursor: default;
    @include media ($large-screen) {
      margin: 0 1em 1.5em 1em;
      max-width: 22%;
    }

    .extra-information {
      font-style: italic;
    }
  }

  .survey--questions {
    padding-bottom: 0.5em;
  }

  .settings {
    float: right;
    a {
      font-size: 1.5em;
      padding: 0.65em 0.85em;
      margin: 0 0.1em;
    }
  }
  .attribution {
    padding: 0 1em;
  }

  .survey-question {
    .card-header {
      display: flex;
      justify-content: space-between;

      comment {
        padding: 0 0.5em;
        color: $medium-gray;
      }
    }

    #map {
      width: 100%;
      height: 46vh;
      max-height: 250px;
    }
  }
}
