.user {
  .menu {
    margin-top: 45px;
  }

  .subscribed_true {
    color: $color-success;
  }

  .fa-stack {
    color: $color-master;
    margin-left: 10px;

    .fa-cog {
      left: 13px;
      bottom: 13px;
    }
  }

  .subscribed_false {
    color: mix($color-master, #fff, 26.9%);
  }

  .new_message {
    .fa-trash {
      margin-top: 10px;
      margin-left: 3px;
    }

    .btn[type="submit"] {
      margin-top: 10px;
    }

    .select2-container {
      margin-bottom: 10px;
    }
  }

  .edit_candidate {
    float: right;
  }
}
