<!-- JS at bottom of page to improve load time, and only loaded once with 'data-turbolinks-eval' == false  -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>

</body>
</html>
