meta content="IE=edge" http-equiv="X-UA-Compatible"
meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"
meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
title= content_for?(:title) ? content_for(:title) : "Your Caregiver Recruiting Assistant | ChirpyHire"
- if content_for?(:disable_turbolinks_caching)
    = content_for(:disable_turbolinks_caching)
= csrf_meta_tags
= action_cable_meta_tag
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= favicon_link_tag 'favicon.ico'
script type="text/javascript" src="https://js.stripe.com/v2/"
javascript:
  Stripe.setPublishableKey("#{ENV.fetch('STRIPE_PUBLISHABLE_KEY')}");
