javascript:
  // Browser Update
  // https://browser-update.org
  var $buoop = {vs:{i:10,f:-1,o:-1,s:10,c:-1},api:4};
  function $buo_f(){
   var e = document.createElement("script");
   e.src = "//browser-update.org/update.min.js";
   document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
- if Rails.env.production? && current_account.present?
  javascript:
    FS.identify("#{current_account.id}", {
      displayName: "#{current_account.name}",
      email: "#{current_account.email}"
    });
