script src="https://cdn.smooch.io/smooch.min.js"
javascript:
  var holder = $('#sk-holder');
  if(!holder.length) {
    Smooch.init({appToken: "#{ENV.fetch('SMOOCH_TOKEN')}"});
  }

  // Browser Update
  // https://browser-update.org
  var $buoop = {vs:{i:10,f:-1,o:-1,s:10,c:-1},api:4};
  function $buo_f(){
   var e = document.createElement("script");
   e.src = "//browser-update.org/update.min.js";
   document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
